footer
    height: 180px
    width: 100%
    background-color: rgb(54, 118, 187)
    text-align: center
    align-content: center
    // margin-top: 10%
    & p
        color: rgb(176, 194, 206)
        margin-top: 5px

.icones
    color: rgb(181, 255, 255)

.copyright
    height: 80px
    width: 100%
    background-color: rgb(54, 59, 71)
    text-align: center
    align-content: center
    color: rgb(77, 77, 77)

// icones reseaux sociaux  color: rgb(94, 145, 201)
